#canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.main{
    background-color: black;
    color: white;
}

.Title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}